@mixin body {
    font-family: $font;
    margin: 0;
    padding: 0;
    background-color: $background-color; 
    color: $text-color;
}

@mixin nav {
    display: flex;
    justify-content: space-around;
    align-items: right;
    font-family: $font;
    background: $nav-color;
    height: 8vh;
}

@mixin nav-list {
    display: flex;
    justify-content: space-between;
    align-items: right;
    font-family: $font;
    background: inherit;
    height: 8vh;
    padding: 15px 15px 15px 15px;
}