@import "./mixins";
@import "./reset";
@import "./variables";

html {
    font-size: 14px;
    color: $text-color;

}

body {
    background-image: url(../Assets/bgheader.jpg); // Use uma imagem de alta resolução
    background-repeat: no-repeat;
    background-size: cover;  // Cobre toda a área sem distorcer a imagem
    background-position: center;  // Centraliza a imagem no espaço disponível
    position: relative;
    min-height: 100vh;
    margin: 0;
    
    // Melhoria na renderização da imagem
    image-rendering: -webkit-optimize-contrast; // Melhor qualidade em navegadores baseados no WebKit
    image-rendering: crisp-edges; // Melhora a nitidez em navegadores que suportam

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); // Cor preta com 50% de opacidade
        z-index: 1;
    }

    .header, .main, .footer {
        position: relative;
        z-index: 2;
    }
}

img {
    // Ajuste de brilho para a imagem
    filter: brightness(100%);
    max-width: 100%; // Garante que a imagem não exceda o tamanho do contêiner
    height: auto; // Mantém a proporção da imagem
}

header {
    .nav {
        @include nav;  
    
        a {
            color: $text-color;
            text-decoration: none;
            transition: 0.3s;
        }
        
        a:hover {
            opacity: 0.7;
        }
    
        .nav-list {
            list-style: none;
            display: flex;
        }
        
        .nav-list li {
            @include nav-list;
        }
    } 

    .name {
        font-size: 3.5rem;
        padding: 10rem 1rem 23rem 1rem;
        color: $text-color;
    }
}

main {
    .about {
        h2 {
            text-align: right;
            font-family: $font;
            font-size: 1.5rem;
            padding: 5px 5px 5px 5px;
            color: $text-color;
        }

        p {
            text-align: right;
            padding: 5px 5px 5px 5px;
            text-align: right;
            color: #a6a4a4;
        }
    }

    details {
        text-align: left;
        padding: 6rem 5rem 2rem 2rem;
    }
}




footer {
    background: linear-gradient(90deg, rgba(9,5,74,1) 0%, rgba(21,21,68,1) 31%, rgba(46,103,115,1) 100%);
    color: $text-color;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 2;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .Contact {
        display: flex;
        gap: 2rem; // Espaçamento entre os elementos
        
        p {
            margin: 0;
            font-size: 0.875rem;
            padding: 8px 8px 2rem 8px;
            font-size: 15px;
        }

        a {
            color: $text-color;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
                color: lighten($text-color, 10%);
            }
        }
    }

    p {
        margin: 1rem 0 0 0; // Margin superior para dar espaço entre as informações de contato e o texto de direitos reservados
        font-size: 0.875rem;
    }
}

